    /* HOME PAGE ******************************/
    /* FONTS (SIZE, TYPE, COLOR, ...) ***/

    @font-face {
        font-family: 'menu';
        src: url(police/glou/GLECB.TTF);
    }
    @font-face{
    font-family: 'fag';
    src: url(police/fag/FGT___CB.ttf);
}
    @font-face{
    font-family: 'mona';
    src: url(police/mona/MonaLisaSolidITC-Normal.ttf);
}

    @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
    .font-roboto {
        font-family: 'menu';
    }

    body {
        .font-roboto();
    }
    /* BOITE D'OUTILS *****************/

    section,
    footer {
        border: red solid 1px;
    }

    .col-6 {
        border: green solid 1px;
    }

    .col-12 {
        border: orange solid 1px;
    }
    /* TAILLE DE CHAQUE PAGE ********** (W100VW H100VH)*/

    section,
    footer {
        width: 100vw;
        min-height: 100vh;
    }

    body,
    html {
        height: 100%;
        /* HomePage occupe 100% de son container W100VW H100VH*/
    }

    * {
        box-sizing: border-box;
    }
    /* NAVBAR *************************/

    nav {
        position: relative;
    }

    .menuToggler1 {
        /* Position of the togglers in their own containers (menuToggler)*/
        display: flex;
        justify-content: flex-start;
    }

    .menuToggler2 {
        display: flex;
        justify-content: flex-end;
    }

    .menuToggler1,
    .menuToggler2 {
        padding-top: 1vh;
    }

    .overlay {
        /* overlay stands for the background of the items of the Main Menu*/
        height: 100vh;
        width: 100vw;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(38, 62, 125, 1);
        border: 1px green solid;
    }

    .overlay-content {
        /* overlay-content stands for the content of the Main Menu*/
        padding-top: 15vh;
        /* starts at 15vh from the top */
        width: 100vw;
        /* each container containing the text is full width */
        text-align: center;
    }

    .overlay a {
        /* Now we set the text itself (eat, sport, ...) */
        padding: 2vh;
        text-decoration: none;
        font-size: 5vh;
        color: #fbebd5;
        display: block;
        transition: 0.3s;
        border: 1px red solid;
    }

    .overlay a:hover,
    .overlay a:focus {
        /* We set here the color of the links when hovered and when clicked */
        color: #f1f1f1;
    }

    .overlay .closebtn {
        /* We position at the top right of the screen the cross to quit the Main Menu*/
        position: absolute;
        top: 0;
        right: 0;
        width: 15vh;
        /* we use *vh as unit like for the height of the "overlay & overlay a" to be sure it won't overflow. RESPONSIVE ;) */
        height: 15vh;
        border: yellow 1px solid;
    }

    .mainMenuIcon {
        /* cursor pointer is a property that permit to get a hand instead of the classic mouse when the span targeted is hoveres */
        cursor: pointer;
    }
    /* Phone Number Same reasoning than for the Main Menu ******************** */
    /* *closebtn1/closebtn2* We create 2 buttons to hide the phone number: first one at the top left, second one at the top right */

    .menuC {
        height: 7vh;
    }

    .phoneC {
        height: 7vh;
    }

    .croixNav {
        height: 7vh;
    }

    .overlay1 {
        height: 15vw;
        width: 100vw;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        border: 1px green solid;
    }

    #phoneNumber a {
        color: #fbebd5;
    }

    .overlay1-content {
        width: 100vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .overlay1-content a {
        width: 60vw;
        border: 1px red solid;
    }

    .overlay1 a {
        font-size: 8vw;
        color: #263e7d;
        display: block;
        transition: 0.3s;
        height: 15vw;
    }

    .overlay1 a:hover,
    .overlay1 a:focus {
        color: #f1f1f1;
    }

    .closebtn1 {
        position: absolute;
        top: 0;
        right: 0;
        border: 1px blue solid;
        padding: 5vw 10vw;
    }

    .closebtn2 {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px blue solid;
        padding: 5vw 10vw;
    }

    .phoneIcon {
        cursor: pointer;
    }
    /* HOMEPAGE **********************/

    #home {
        /* The image used */
        background-image: url("images/home.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* EAT ****************************/

    #eat {
        background-image: url("images/eat.jpg");
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* SPORT **************************/

    #sport {
        background-image: url("images/sport.jpg");
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* DRINK *************************/

    #drink {
        background-image: url("images/drink.jpg");
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* EVENT ***************************/

    #event {
        background-image: url("images/events.jpg");
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* MENUS / SPORT / EVENTS / DRINK MENUS (MODALS) */
    /* Alignement Modal */

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }

    .modal-dialog {
        position: fixed;
        margin: 0;
        width: 100vw;
        height: 100vh;
        padding: 0;
    }

    .modal-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid #3c7dcf;
        border-radius: 0;
        box-shadow: none;
    }

    .modal-header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 50px;
        padding: 10px;
        background: #fbebd5;
        border: 0;
        align-content: center;
        width: 100vw;
    }

    .nav-pills li {
        margin-left: 15px;
        align-content: center;
    }

    .modal-header a {
        text-align: center;
    }

    .modal-title {
        font-weight: 300;
        font-size: 2em;
        color: #fff;
        line-height: 30px;
    }

    .logo {
        height: 30vh;
        margin-top: 10vh;
    }


    .modal-body {
        position: absolute;
        top: 50px;
        bottom: 60px;
        width: 100vw;
        font-weight: 300;
        overflow: auto;
        background: #263e7d;
    }

    .modal-body p {
        border: cornsilk solid 5px;
        text-align: center;
    }

    .modal-body h2 {
        text-align: center;
    }

    .btn {
        padding: 0;
    }

    button {
        margin: auto;
    }

    .modal-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 60px;
        padding: 0;
        background: #fbebd5;
        width: 100vw;
        align-content: center;
    }

    .titrePage {
        text-align: center;
        color: #263e7d;
        font-size: 10vh;
    }

    .infoPage {
        text-align: center;
        color: #263e7d;
    }

    .cadrePage {
        margin-left: auto;
        margin-right: auto;
        border: #263e7d solid 10px;
    }

     ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
        background: #f1f3f5;
        border-left: 1px solid darken(#f1f3f5, 10%);
    }

     ::-webkit-scrollbar-thumb {
        background: darken(#f1f3f5, 20%);
    }
    /* Attributs bouton fermeture */

    .btn {
        border: none;
        color: #263e7d;
    }

    .nav-pills a {
        background-color: #fbebd5;
        color: #263e7d;
    }

    /* COUTDOWN ***********************/


    #countdown {
        background-color: #fbebd5;
    }

    .chrono {
        padding-top: 20vh;
    }

    #countdown h1 {
        color: #263e7d;
        text-align: center;
    }

    .chrono,
    .decompte {
        height: 40vh;
        padding-top: 10vh;
    }

    #demo {
      border: 3.5px solid #263e7d;
      border-radius: 5px;

    }

    }
    .decompte h1 {
        padding-top: 10vh;

    }

    .btn {
        background: transparent;

    }

    /* ABOUT US */


    #aboutUs {
        background: #263e7d;
        height: auto;
        width: 100vw;
    }


    #aboutUs .col-10 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }


    #aboutUs .row {
            height: 100vh;
    }

    /* Contenair in about us section  */

    .aboutus {
        border: 3.5px solid #fbebd5;
        border-radius: 5px;
        background: #263e7d;
        color: #fbebd5;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .aboutUsTavern {
        background: #263e7d;
        color: #fbebd5;

    }

    .aboutUsText {
        background: #263e7d;
        color: #fbebd5;
      }


    /* FORMULAIRES */

    #contactUs .col-10 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    #contactUs .row {
        height: 100vh;
    }
    /* Global form contenair  */

    #contactUs {
        background-color: #fbebd5;
    }

    .quickform {
        text-align: left;
    }
    /* Formulaire background color */

    .sectionform {
        background: #fbebd5;
    }
    /* Part of "send us a message" */

    .quickform h4 {
        text-transform: uppercase;
        color: #263e7d;
        margin-bottom: 2vw;
    }
    /* Color for name, email, phone and message */

    .infoform::placeholder {
        color: #263e7d;
    }
    /* Contenair for name, email and phone (ONLY)) */

    .quickform input,
    .quickform textarea {
        width: 100%;
        height: auto;
        border: 3.5px solid #263e7d;
        border-radius: 5px;
        padding: 1vw 0.5vw;
        background: none;
        margin-bottom: 2vw;
    }
    /* Contenair for "Your message" */

    .quickform textarea {
        height: 30vh;
        resize: none;
    }
    /* Button Submit */

    .quickform button {
        background: #fbebd5;
        color: #333;
        padding: 0.8vw 1vw;
        border: 3.5px solid #263e7d;
        border-radius: 5px;
        background: none;
        font-size: 12px 5px;
        text-transform: uppercase;
        color: #263e7d;
    }
    /* Button Submit when you touch it. */

    .quickform button:hover {
        border: dotted #263e7d;
        background: #263e7d;
        border-radius: 5px;
        color: #fbebd5;
    }
    /* When you click on form part */

    .quickform input[type="text"]:focus {
        border: dotted #263e7d;
        border-radius: 5px;
        outline: 0;
    }

    .quickform textarea[type="text"]:focus {
        border: dotted #263e7d;
        border-radius: 5px;
        outline: 0
    }

    .quickform textarea:focus {
        border: dotted #263e7d;
        border-radius: 5px;
        outline: 0;
    }

    /* FOOTER */

    footer {

        padding-top: 5vh;
        background: #263e7d;
        color: #fbebd5;
        height:100vh;
    }

    footer h4 {
        font-size: 1em;
    }

    footer h5 {
        font-size: 0.6em;
    }

    .social
    {

        padding-top: 5vh;
        padding-bottom: 5vh;
        background: #263e7d;
    }

  /* COPYRIGHT */

  .copyright
  {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: #263e7d;
      }


    /*--------CADRE-------(EAT,SPORT,DRINK,EVENT)---*/

.cadre {
  display:flex;
  flex-direction: column;
  align-items:center;
  border:3.5px solid #fbebd5;
  border-radius: 5px;
 }
.cadre h3 {
  font-size: 1em;
  text-align:center;
  font-family:"fag";
}
.cadre h2 {
  font-family:"mona";
  font-size: 3rem;
  margin-top: 3vw;;
}
#event .cadre, #eat .cadre {
border:3.5px solid #263e7d;
}
#event .cadre h2, #event .cadre h3, #eat .cadre h2, #eat .cadre h3{
color:#263e7d;
}
#drink .cadre, #sport .cadre {
border:3.5px solid #fbebd5;
}
#drink .cadre h2, #drink .cadre h3, #sport .cadre h2, #sport .cadre h3{
color:#fbebd5;
 }

/*---------CARTE-EAT----------*/


 #starters, #mains, #sweet,#brunch {
  font-family:"mona";
  color:#fbebd5;
  padding-bottom: 3vw;
 }
 .modal-body h3{
  font-family:"flag";
  text-align:center;
  font-size: 1rem;
  color:#fbebd5;
}
.starters, .mains, .sweet {
  border:3.5px solid #fbebd5;
  padding:3vw;
  border-radius:5px;
  margin:2vw;
}
#eat .modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 0;
  background: #263E7D;
  width: 100vw;
  align-content: center;
  border:none;
}
#eat .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 51px;
  padding: 10px;
  background: #263E7D;
  border: 0;
  align-content: center;
  width: 100vw;
  border:none;
}

/*-------------CARTE-DRINKS----------*/

#spirits, #cocktails, #bier {
  font-family:"mona";
  color:#263e7d;
  padding-bottom: 3vw;

}
.spirits, .cocktails, .bier {
  border:3.5px solid #263e7d;
  padding:3vw;
  border-radius:5px;
  margin:2vw;
}
#drink .modal-body {
  background: #fbebd5
}
#drink .modal-body h3{
  color:#263e7d;
  font-family:"flag";
}
.whiskey, .tequila, .gin, .rum, .vodka {
  color:#263e7d;
  font-size:1.5rem;
  font-family:"flag";
  padding-top: 2vw;
}
.whiskey h3, .tequila h3, .gin h3, .rum h3, .vodka h3{
  color:#263e7d;
}

/*----------CARTE-EVENTS----------*/

.modal-body .agenda {
  border:3.5px solid #fbebd5;
  padding:3vw;
  border-radius:5px;
  margin:2vw;
}
.agenda h2 {
  font-family:"mona";
  color:#fbebd5;
}
#event .modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 0;
  background: #263E7D;
  width: 100vw;
  align-content: center;
  border:none;
}
#event .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 51px;
  padding: 10px;
  background: #263E7D;
  border: 0;
  align-content: center;
  width: 100vw;
  border:none;
}
#event #myModalLabel {
  background-color: #FBEBD5;
  border-radius: 2px;
  padding: 2px 10px;
  color: #263E7D;
  font-family:"fag";
  text-decoration:none;
  font-size:1rem;
}

/*---------CARTE-SPORTS---------*/


.calendar {
  border:3.5px solid #263e7d;
  padding:3vw;
  border-radius:5px;
  margin:2vw;
}
#sport .modal-body {
  background: #fbebd5;
}
.calendar h2 {
  font-family:"mona";
  color:#263e7d;
  padding: 1vw 1vw;

}
.calendar h3 {
  color:#263e7d;
  font-family:"flag";
}
#sport #myModalLabel {
  background-color: #263E7D;
  border-radius: 2px;
  padding: 2px 10px;
  color: #fbebd5;
  font-family:"fag";
  text-decoration:none;
  font-size:1rem;
}


/*--------NAV-PILLS-----(EAT,DRINKS)*/

#eat .nav-pills a {
background-color: #FBEBD5;
border-radius: 2px;
padding: 4px;
color: #263E7D;
font-family:"fag";
text-decoration: none;
}
#drink .nav-pills a {
background-color: #263E7D;
border-radius: 2px;
padding: 4px;
color: #fbebd5;
font-family:"fag";
text-decoration: none;
}

/*---------MEDIA----------*/

@media (min-width: 992px){

  section {
    min-width: 50vw;
    min-height: 100vh;
  }
  .eatSport, .drinkEvent{
    display: flex;
    justify-content: center;

    height: 100vh;
  }

  #drink {
    order: 1;
  }

  #event {
    order: 2;
  }

  footer {
    height: 30vh;
  }

  footer .col-6 {
    padding-top: 2vh;
  }
